.content, #output {
    text-align: center;

}

.top, .bottom {
display: flex;
justify-content: space-evenly;
margin: 10px;
}

.arduino, .movies, .weather, .games { 
    border: 10px solid black;
    width: 48%;
}

.movie{
    border: 10px solid black;
    margin: 1%;
}

.movieInfo {
    margin: 2%;
}