.content, #output {
    text-align: center;
    margin: 5px;
}

.top, .bottom {
display: flex;
justify-content: space-evenly;
margin: 10px;
}

.arduino, .movies, .weather, .author {
    border: 10px solid black;
    width: 48%; 
}

.movie{
    border: 10px solid black;
    margin: 1%;
}

.movieInfo {
    margin: 2%;
}